nav a {
    position: relative;
}

nav a::after {
    @apply content-[''] block absolute bottom-[-3px] left-1/2 -translate-x-1/2 h-0.5 w-0;
    background-color: var(--main-color);
    transition: width .3s ease-in-out;
}

nav a:hover::after {
    width: 75%;
}